@import '../../../_utilities'
.navbar
  text-align: center
  background: $dark-color
  color: #fff
  position: fixed
  left: 0
  width: 100vw
  z-index: 100
  height: 100px

  .navContainer
    display: flex
    justify-content: space-around
    padding: 15px
    text-decoration: underline

  ul
    text-align: center
    justify-content: center



  .welcome
    display: none

@media (max-width: 700px)
  .hide_if_small
    display: none
